#search-form {
  margin-bottom: 20px;
  border-radius: 25px;
}

#edit-band-btn,
#edit-profile-btn {
  margin-bottom: 10px;
}

i.search.icon {
  margin-top: -10px;
}

button.ui.positive.button,
button.ui.positive.button:hover,
button.ui.positive.button:active,
button.ui.positive.button:focus {
  background-color: #146675;
}

button.ui.negative.button,
button.ui.negative.button:hover,
button.ui.negative.button:active,
button.ui.negative.button:focus {
  background-color: #811923;
}

button.ui.primary.button,
button.ui.primary.button:hover,
button.ui.primary.button:active,
button.ui.primary.button:focus {
  background-color: #146675;
}

button.ui.secondary.button,
button.ui.secondary.button:hover,
button.ui.secondary.button:active,
button.ui.secondary.button:focus {
  background-color: #146675;
}

/*button.ui.button,
button.ui.button:hover {
  background-color: #FDF6FF;
}*/

#bandmates-nav-bar{
  background-color: #000236;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 9999;

}

#bandmates-container {
  padding-top: 80px;
}

.App {
  text-align: center;
  /*background-image: url(https://www.samash.com/spotlight/files/2019/05/applause-audience-band-167636.jpeg);*/
  /*background-attachment: fixed;*/
  /*background-position: scroll;*/
  /*background-repeat: no-repeat;*/
}

body {
  background-color: transparent !important;
  background-image: url('/band-bkg.jpg') !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
}

h1.ui.main-header,
h1.ui.header {
  background-color: rgba(255, 255, 255, .6);
  border-radius: 10px;
  height: 3rem;
  /*color: #04AAC1;*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

ul {
  padding-left: 0;
}

.unstyled-list {
  list-style: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* FOR 404 PAGE*/
#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 410px;
  width: 100%;
  text-align: center;
}

.notfound .notfound-404 {
  height: 280px;
  position: relative;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 230px;
  margin: 0px;
  font-weight: 900;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url('./bg.jpg') no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
}


.notfound h2 {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}

.notfound p {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 0px;
}

/*.notfound a {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #0046d5;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 40px;
  color: #fff;
  font-weight: 700;
}*/


@media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
      height: 142px;
    }
    .notfound .notfound-404 h1 {
      font-size: 112px;
    }
}
